<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>树状图图示例</title>
	<style type="text/css">
		#a{
            margin-left: 200px;
			width: 800px;
			height: 600px;
			background: #ccc;
		}
	</style>
</head>
<body>
	<div id="a"></div>
	<button>点击查看树状图示例</button>
</body>
	<script type="text/javascript" src="/javascripts/ajax-1.0.js"></script>
	<script type="text/javascript" src="/javascripts/echarts.js"></script>
  
    <!-- <script type="text/javascript">
        //初始化操作
        var myChart = echarts.init(document.getElementById('a'));
        var btn = document.querySelector('button');
        //以点击按钮响应函数展现页面
        btn.onclick = function(){
        //通过ajax请求数据:
        Ajax('JSON').get('/show-data9',function(data){
        //使用Echarts实现箱线图时需要使用到dataTool，我们需要引入dataTool.js文件，可以在githup上获取
        var data = echarts.dataTool.prepareBoxplotData([data]);
        option = {
        title: [
            {
                text: '箱线图示例',
                left: 'center',
            },
        ],
        tooltip: {
            trigger: 'item',
            axisPointer: {
                type: 'shadow'
            }
        },
        grid: {
            left: '10%',
            right: '10%',
            bottom: '15%'
        },
        xAxis: {
            type: 'category',
            data: data.axisData,
            axisLabel: {
                formatter: '视频类型:Nonprofits & Activism'
            },
            splitLine: {
                show: false
            }
        },
        yAxis: {
            name: '视频速率',
        },
        series: [
            {
                name: 'boxplot',
                type: 'boxplot',
                data: data.boxData,
            },
            {
                name: 'outlier',
                type: 'scatter',
                data: data.outliers
            }
        ]
    };
        //使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
            });
        }
    </script> -->

    <script type="text/javascript">
        var myChart = echarts.init(document.getElementById('a'));

var data2 = {
    "name": "视频类型",
    "children": [
        {
            "name": "Autos & Vehicles",
        },
        {
            "name": "Comedy",
        },
        {
            "name": "Education",
        },
        {
            "name": "Entertainment",
        },
        {
            "name": "Film & Animation",
        },
        {
            "name": "Howto & Style",
        },
        {
            "name": "Music",
        },
        {
            "name": "News & Politics",
        },
        {
            "name": "Nonprofits & Activism",
        },
        {
            "name": "People & Blogs",
        },
        {
            "name": "Science & Technology",
        },
        {
            "name": "Sports",
        },
        {
            "name": "Travel & Events",
        }
    ]
};


    myChart.setOption(option = {
    tooltip: {
        trigger: 'item',
        triggerOn: 'mousemove'
    },
    legend: {
        top: '2%',
        left: '3%',
        orient: 'vertical',
        data: [{
            name: 'tree1',
            icon: 'rectangle'
        } ,
        {
            name: 'tree2',
            icon: 'rectangle'
        }],
        borderColor: '#c23531'
    },
    series:[
        // {
        //     type: 'tree',

        //     name: 'tree1',

        //     data: [data1],

        //     top: '5%',
        //     left: '7%',
        //     bottom: '2%',
        //     right: '60%',

        //     symbolSize: 7,

        //     label: {
        //         normal: {
        //             position: 'left',
        //             verticalAlign: 'middle',
        //             align: 'right'
        //         }
        //     },

        //     leaves: {
        //         label: {
        //             normal: {
        //                 position: 'right',
        //                 verticalAlign: 'middle',
        //                 align: 'left'
        //             }
        //         }
        //     },

        //     expandAndCollapse: true,

        //     animationDuration: 550,
        //     animationDurationUpdate: 750

        // },
        {
            type: 'tree',
            name: 'tree2',
            data: [data2],

            top: '20%',
            left: '60%',
            bottom: '22%',
            right: '18%',

            symbolSize: 7,

            label: {
                normal: {
                    position: 'left',
                    verticalAlign: 'middle',
                    align: 'right'
                }
            },

            leaves: {
                label: {
                    normal: {
                        position: 'right',
                        verticalAlign: 'middle',
                        align: 'left'
                    }
                }
            },

            expandAndCollapse: true,

            animationDuration: 550,
            animationDurationUpdate: 750
        }
    ]
});
     myChart.setOption(option);
    </script>

</body>
</html>